:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h2 {
  text-align: left;
  padding-left: 8px;
  font-size: 24px;
}

button {
  cursor: pointer;
  margin: 1px 0;
  border: 3px solid black;
  background-color: rgb(182, 182, 182);
  width: 100%;
}

p {
  padding: 0 15px;
}

.wrapper {
  width: 500px;
}

.container {
  /* position: relative;
  bottom: 400px; */
  display: flex;
  width: 550px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content-div {
  border: 3px solid black;
  background-color: rgb(233, 233, 233);
  font-size: 16px;
  font-weight: 500;
}
